<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.re_kid.discordbot.mapper.SystemSettingMapper">
  <resultMap id="systemSettingResultMap" type="SystemSetting">
    <id property="id" column="id" />
    <result property="value" column="value"/>
  </resultMap>
  <select id="selectById" parameterType="String" resultMap="systemSettingResultMap">
    SELECT * FROM system_setting WHERE id = #{id}
  </select>
</mapper>